@import variables
@import typo
@import icons


.inline
  display: inline-block
  width: auto


.white
  color: $white


/*****************************************/

body
  font-family: source_sans_proregular !important
  font-size: 12px !important
  background-color: rgba(15,15,0,0.02)

h1, h2, h3, h4, h5
  font-size: 140%
  text-transform: uppercase


.section-title
  background-color: black
  color: white
  padding: 15px
  text-align: center


.wrapper
  padding: 15px


/* CARDS *************************************************/

.card
  margin: 15px auto
  max-width: 75%


.card h2
  color: #B32904
  padding: 4px


.card h3
  display: inline-block
  padding: 4px


.card .conf,
.card .remove
  color: #FFF
  cursor: pointer
  float: right
  padding: 4px
  text-decoration: underline


.card .add
  color: #000
  cursor: pointer
  float: right
  padding: 4px
  text-decoration: underline


.card-block
  padding: 4px


/* EDITOR AND SELECTOR AREA ************************************/

#editor .card
  border: 2px solid #B32904


#editor .card .card:hover
  cursor: pointer


/* hover style for selectables */
#editor .card .card:hover div
  background-color: #B32904

#editor .card .card:hover .card-block
  background-color: #FFF

.smallHelpIcon
  font-size: 0.5em !important
  align-self: center

.helpTooltip
  width: 50%
  opacity: initial
  color: $black
  border-radius: 4px
  padding: 8px 15px
  text-transform: none
  line-height: 1.6em
  background-color: $white
  box-shadow: 1px 1px 6px rgba($black, .1)
  width: 30%

.error
  color: red
  padding: 5px
