@import common

.button
  color: rgba($white, .7)
  font-size: 11px
  text-shadow: 1px 1px 0 rgba($black, .2)

.button:hover,
.button:focus
  border: 1px solid rgba($black, .01)
  color: rgba($white, 1)
  cursor: pointer

.button::active
  text-shadow: 0px 0px 0px tranparent
  color: rgba($white, 0.3)
  box-shadow: 1px 1px 0 rgba($black,0.05)

.add
  background-color: rgba($add, 0.85)

.help
  background-color: transparent
  padding: 0
  margin: 0 0 0 10px
  align-self: baseline

  i
    color: rgba($red,0.5)
    font-size: 1.9em

  i:hover
    color: rgba($red,0.8)
