@import app.global.sass

.back
  position: absolute
  left: 30px
  top: 30px
  font-size: 1em
  text-transform: uppercase
  color: rgba(0,0,0,0.5)
  background-color: rgba(0,0,0,0.04)
  cursor: pointer

.back:hover
  color: rgba(0,0,0,0.8)
  background-color: rgba(0,0,0,0.06)

// Page header
.heading
  display: flex
  justify-content: space-between
  align-items: baseline
  margin: 20px auto
  width: 75%
  h1
    display: flex
    align-items: baseline
    justify-content: flex-start
    font-size: 2em

.badge
  background-color: rgba($black,0.15)
  color: rgba($black,0.8)
  font-size: 0.7em
  font-family: source_sans_prolight
  min-width: 20px
  min-height: 20px
  margin: -20px 0 0 10px
  align-self: center
  text-shadow: 1px 1px 0 rgba($black,0.2)
  display: flex
  justify-content: space-around
  vertical-align: middle
  align-items: center
  border-radius: 4px
  border: 1px solid rgba($black,0.06)
  box-shadow: 1px 1px 5px rgba($black, 0.08)
.actionButtons
  display: flex
  align-self: baseline
  button
    margin-right: 5px

  .actionButtons
    :last-child
      margin-right: 0px


// TABLES
.tableGridWrapper
  display: flex
  width: 75%
  align-items: stretch
  flex-flow: column
  margin: 20px auto
  padding: 20px 10px
  background-color: rgba(255,255,255,0.5)
  box-shadow: 1px 1px 4px rgba(0,0,0,0.05)

  h3
    display: flex

  .gridRow
    border: 1px solid rgba($black,0.1)
    border-collapse: collapse
    margin-bottom: 20px
    display: flex
    display: -webkit-flex
    flex-direction: row
    -webkit-flex-direction: row
    opacity: 0.8
    font-size: 1.2em
    justify-content: flex-end
    flex-wrap: wrap
    h4
      font-family: source_sans_probold
      font-size: 1em

  .Header
    font-weight: 700
    font-family: "source_sans_probold"
  .gridCell
    display: flex
    align-items: center
    flex-flow: row
    padding: 4px 10px
  .span
    @extend .gridCell
    width: 100%
    border-bottom: 1px solid rgba(0,0,0,0.05)
    background-color: rgba(66, 142, 61, 0.3)

  h4
    margin: 0 10px
    width: 60%
  .info
    width: inherit
    overflow: hidden
    text-overflow: ellipsis
  .slug
    font-weight: 600
    font-size: 1.2em
    width: 25%
    i
      padding: 10px 10px 10px 0
      font-size: 1.3em

  .description
    width: inherit
.actions
  width: inherit
  justify-content: flex-end
  align-self: flex-end
  display: flex
  flex-flow: row nowrap
  width: 10%
  button
    border: none
    background: transparent
    padding: 0
    margin: 0
    opacity: .3
    cursor: pointer
  button:hover
    opacity: 1
    text-shadow: 1px 1px 2px rbga($black, .8)

.active
  background-color: rgba($white,0.7)
  box-shadow: 2px 3px 0px rgba($black,0.05)
  i
    color: rgba($add, 1)
  h4
    @extend h4
    color: rgba($add, 1)

  .projects
    @extend .gridRow
    width: 90%
    margin: 20px 10px 10px 0 !important
    font-size: .7em
    justify-content: flex-start
    border: 0px
    opacity: initial
    .span
      justify-content: space-between
      background-color: transparent
      margin-bottom: 0 0 5px 0
      padding: 0 0 5px 5px
      border-bottom: 0
      h5
        font-family: source_sans_probold
        color: rgba($black, 0.7)
        align-self: flex-start
        opacity: intial
        margin-bottom: 0
      button
        color: rgba($white, 0.8)
        padding: 2px 5px
        i
          color: inherit
.project
  @extend .gridRow
  width: 100%
  justify-content: space-between
  padding: 5px 10px
  margin-bottom: 5px !important
  .slug
    width: 20%
    font-family: source_sans_proregular
    font-weight: 100
    i
      font-size: 0.8em
      padding: 0 5px 0 0
  .info
    width: 70%
    align-self: flex-end
  .actionButtons
    width: 10%
    justify-content: flex-end
  a:link
    color: rgba($black, .6)
    text-decoration: none
    border-bottom: 1px dashed rgba($black, .3)
  a:hover
    color: rgba($black, .9)
    border-color: rgba($black, .6)

.active:hover
  background-color: rgba($white,0.9)
  box-shadow: 2px 3px 0 rgba($black,0.09)
  opacity: 1

.inactive,
.disabled
  color: rgba($black,0.5)
  background-color: rgba($white,0.5)
  .gridRow
    margin-bottom: 0px
  .projects
    display: none
  .span
    background-color: rgba($red, 0.05)
.disabled
  .span
    background-color: rgba(142, 142, 142, 0.1) !important
.inactive
  i
    color: rgba(200, 66, 61, 0.7)
