@import 'common'

form
  @extend .gridRow
  background-color: rgba($white, 0.3)
  border: 1px
  padding: 20px
  > *
    font-family: source_sans_proregular !important

form:hover
  background-color: rgba($white,0.6)
  box-shadow: 2px 3px 0 rgba($black,0.09)

.field
  display: flex
  flex-flow: row
  padding: 5px 0 10px 5px
  align-item: center

.field:nth-child(2n+2)
  background-color: rgba($black, 0.02)

label
  padding: 10px 20px 0
  width: 20%

input[type='checkbox'],
input[type='radio']
  align-self: center

input[type='text'],
textarea
  padding: 6px 6px
  background-color: rgba(255,255,255,0.7)
  border: 1px solid rgba(0,0,0,0.09) !important
  border-radius: 4px
  color: rgba($black, 0.7)
  width: 50%

input:focus,
textarea:focus
  background-color: rgba(255,255,255,0.9)
  box-shadow: 1px 1px 4px rgba(61, 66, 140, .4)

.buttons
  padding: 30px 0 0 20%
  display: flex
  width: 70%
  justify-content: flex-end

input[type=submit]
  order: 2
  margin: 0 0 0 40px
  background-color: rgba(41, 47, 170, 0.5)
  border: 0px
  color: rgba($white,0.6)
  font-size: 1.1em
  font-family: source_sans_proregular
  font-weight: 100
  cursor: pointer

input[type=submit]:hover
  background-color: rgba(41, 47, 170, 0.7)
  color: rgba($white,0.9)



.cancelButton
  border: 0px
  background-color: transparent
  padding: 0 !important
  margin: 0
  line-height: 1
  border-bottom: 1px dashed
  color: rgba(0,0,0,0.4)
  cursor: pointer
  font-size: 0.8em
