@font-face
    font-family: 'source_sans_problack'
    src: url('./fonts/sourcesanspro-black.eot')
    src: url('./fonts/sourcesanspro-black.eot?#iefix') format('embedded-opentype'), url('./fonts/sourcesanspro-black.woff2') format('woff2'), url('./fonts/sourcesanspro-black.woff') format('woff'), url('./fonts/sourcesanspro-black.ttf') format('truetype'), url('./fonts/sourcesanspro-black.svg#source_sans_problack') format('svg')
    font-weight: normal
    font-style: normal



@font-face
    font-family: 'source_sans_problack_italic'
    src: url('./fonts/sourcesanspro-blackit.eot')
    src: url('./fonts/sourcesanspro-blackit.eot?#iefix') format('embedded-opentype'), url('./fonts/sourcesanspro-blackit.woff2') format('woff2'), url('./fonts/sourcesanspro-blackit.woff') format('woff'), url('./fonts/sourcesanspro-blackit.ttf') format('truetype'), url('./fonts/sourcesanspro-blackit.svg#source_sans_problack_italic') format('svg')
    font-weight: normal
    font-style: normal



@font-face
    font-family: 'source_sans_probold'
    src: url('./fonts/sourcesanspro-bold.eot')
    src: url('./fonts/sourcesanspro-bold.eot?#iefix') format('embedded-opentype'), url('./fonts/sourcesanspro-bold.woff2') format('woff2'), url('./fonts/sourcesanspro-bold.woff') format('woff'), url('./fonts/sourcesanspro-bold.ttf') format('truetype'), url('./fonts/sourcesanspro-bold.svg#source_sans_probold') format('svg')
    font-weight: normal
    font-style: normal



@font-face
    font-family: 'source_sans_probold_italic'
    src: url('./fonts/sourcesanspro-boldit.eot')
    src: url('./fonts/sourcesanspro-boldit.eot?#iefix') format('embedded-opentype'), url('./fonts/sourcesanspro-boldit.woff2') format('woff2'), url('./fonts/sourcesanspro-boldit.woff') format('woff'), url('./fonts/sourcesanspro-boldit.ttf') format('truetype'), url('./fonts/sourcesanspro-boldit.svg#source_sans_probold_italic') format('svg')
    font-weight: normal
    font-style: normal



@font-face
    font-family: 'source_sans_proextralight'
    src: url('./fonts/sourcesanspro-extralight.eot')
    src: url('./fonts/sourcesanspro-extralight.eot?#iefix') format('embedded-opentype'), url('./fonts/sourcesanspro-extralight.woff2') format('woff2'), url('./fonts/sourcesanspro-extralight.woff') format('woff'), url('./fonts/sourcesanspro-extralight.ttf') format('truetype'), url('./fonts/sourcesanspro-extralight.svg#source_sans_proextralight') format('svg')
    font-weight: normal
    font-style: normal



@font-face
    font-family: 'source_sans_proXLtIt'
    src: url('./fonts/sourcesanspro-extralightit.eot')
    src: url('./fonts/sourcesanspro-extralightit.eot?#iefix') format('embedded-opentype'), url('./fonts/sourcesanspro-extralightit.woff2') format('woff2'), url('./fonts/sourcesanspro-extralightit.woff') format('woff'), url('./fonts/sourcesanspro-extralightit.ttf') format('truetype'), url('./fonts/sourcesanspro-extralightit.svg#source_sans_proXLtIt') format('svg')
    font-weight: normal
    font-style: normal



@font-face
    font-family: 'source_sans_proitalic'
    src: url('./fonts/sourcesanspro-it.eot')
    src: url('./fonts/sourcesanspro-it.eot?#iefix') format('embedded-opentype'), url('./fonts/sourcesanspro-it.woff2') format('woff2'), url('./fonts/sourcesanspro-it.woff') format('woff'), url('./fonts/sourcesanspro-it.ttf') format('truetype'), url('./fonts/sourcesanspro-it.svg#source_sans_proitalic') format('svg')
    font-weight: normal
    font-style: normal



@font-face
    font-family: 'source_sans_prolight'
    src: url('./fonts/sourcesanspro-light.eot')
    src: url('./fonts/sourcesanspro-light.eot?#iefix') format('embedded-opentype'), url('./fonts/sourcesanspro-light.woff2') format('woff2'), url('./fonts/sourcesanspro-light.woff') format('woff'), url('./fonts/sourcesanspro-light.ttf') format('truetype'), url('./fonts/sourcesanspro-light.svg#source_sans_prolight') format('svg')
    font-weight: normal
    font-style: normal



@font-face
    font-family: 'source_sans_prolight_italic'
    src: url('./fonts/sourcesanspro-lightit.eot')
    src: url('./fonts/sourcesanspro-lightit.eot?#iefix') format('embedded-opentype'), url('./fonts/sourcesanspro-lightit.woff2') format('woff2'), url('./fonts/sourcesanspro-lightit.woff') format('woff'), url('./fonts/sourcesanspro-lightit.ttf') format('truetype'), url('./fonts/sourcesanspro-lightit.svg#source_sans_prolight_italic') format('svg')
    font-weight: normal
    font-style: normal



@font-face
    font-family: 'source_sans_proregular'
    src: url('./fonts/sourcesanspro-regular.eot')
    src: url('./fonts/sourcesanspro-regular.eot?#iefix') format('embedded-opentype'), url('./fonts/sourcesanspro-regular.woff2') format('woff2'), url('./fonts/sourcesanspro-regular.woff') format('woff'), url('./fonts/sourcesanspro-regular.ttf') format('truetype'), url('./fonts/sourcesanspro-regular.svg#source_sans_proregular') format('svg')
    font-weight: normal
    font-style: normal



@font-face
    font-family: 'source_sans_prosemibold'
    src: url('./fonts/sourcesanspro-semibold.eot')
    src: url('./fonts/sourcesanspro-semibold.eot?#iefix') format('embedded-opentype'), url('./fonts/sourcesanspro-semibold.woff2') format('woff2'), url('./fonts/sourcesanspro-semibold.woff') format('woff'), url('./fonts/sourcesanspro-semibold.ttf') format('truetype'), url('./fonts/sourcesanspro-semibold.svg#source_sans_prosemibold') format('svg')
    font-weight: normal
    font-style: normal



@font-face
    font-family: 'source_sans_proSBdIt'
    src: url('./fonts/sourcesanspro-semiboldit.eot')
    src: url('./fonts/sourcesanspro-semiboldit.eot?#iefix') format('embedded-opentype'), url('./fonts/sourcesanspro-semiboldit.woff2') format('woff2'), url('./fonts/sourcesanspro-semiboldit.woff') format('woff'), url('./fonts/sourcesanspro-semiboldit.ttf') format('truetype'), url('./fonts/sourcesanspro-semiboldit.svg#source_sans_proSBdIt') format('svg')
    font-weight: normal
    font-style: normal
